extends layout

block content
  h1= title
  script(src='/javascripts/jquery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true')
  script(src='/javascripts/map.js')
  p#demo Welcome to #{title}
  div#map-canvas
