body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.marker-label,
.marker-icon {
	z-index: 99;
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	font-size: 30px !important;
	text-align: center;
	color: #FFFFFF;
	white-space: nowrap;
}
